@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

.card-img-top{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

h1{
    margin-top: 30px !important;
    text-align: center;
}

.hr{
    height: 3px;
    background: red;
    margin-bottom: 30px;
    box-shadow: 1px 6px 20px 4px red;
}

.card{
    box-shadow: 1px 5px 20px 4px rgb(201, 199, 199);
}

.card:hover{
    box-shadow: 1px 2px 25px 4px red;
    transition: all 2s;
}